<h1 class="page-header">Edit Books</h1>

<form action="/books/<%= book.id %>?_method=PUT" method="POST">  <!-- enctype="multipart/form-data" -->
    
    <%- include('./_form_fields.ejs') %>
    <div class="from-row from-row-end btn-row">
        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-danger" href='/books'>Cancel</a>
    </div>
</form>
